header{
    display:flex;
    justify-content: space-between;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(48, 47, 47);
    color: aliceblue;
}
h1{
    margin-left: 250px;
}
ul li a{
    margin-top: 35px;
    list-style-type: none;
    word-spacing: 0.5px;
    color: aliceblue;

}
li{
    display: inline;
    line-break: 50px;
    font-weight: bold;
    margin-right: 50px;
   
}
b{
    color: rgb(29, 21, 147);
   
    
}